<!DOCTYPE html>
<html>
<head>
    <title>Add Borrower</title>
</head>
<body>

    <h2>Add Borrower</h2>

    <form method="POST">

        <label>Name</label><br>
        <input type="text" name="name" required>
        <br><br>

        <label>Phone</label><br>
        <input type="text" name="phone">
        <br><br>

        <label>Address</label><br>
        <textarea name="address"></textarea>
        <br><br>

        <button type="submit">
            Save Borrower
        </button>

    </form>

    <br>

    <a href="/borrowers">
        View Borrowers
    </a>

</body>
</html>